form{
    border: 0.5px solid black;
    width: 410px;
    margin: 30px;
    padding:30px;
}

label:before {
    content: '☆';
    color: black;
    font-size: 1.8em;
  }
  label.on:before {
    content: '★';
    color: white;
    /* uncomment for iOS */
  /*   font-size: 2.4em;
    top: -0.1em;
    left: -0.1em; */
  }
  input:checked + label:before {
    content: '★'; 
    color: yellow;
    /* uncomment for iOS */
  /*   font-size: 2.4em;
    top: -0.1em;
    left: -0.1em; */
  }

 .pergunta{
     margin-top: 1.2em;
 } 

  label {  
    display: inline-block;  
    cursor: pointer;  
    position: relative;  
    padding-left: 0;  
    margin-right: 15px;  
    font-size: 20px; 
  }
  input[type=radio] {
    display: none;
    -webkit-appearance: none;
  }
  
  /* Non-essential */
  body {
    margin: 2em;
    /* remove gray highlight on tap in iOS */
    -webkit-tap-highlight-color:transparent;
  }


  
  .pclass {
    margin-bottom: 0;
    color: black;
    font-family: Bitter, sans-serif;
    font-size: 1.5em;
    text-align: left;
  }


  #submit {
    font-size: 24px;
    font-family: Bitter, sans-serif;
    color: black;
    border: none;
  }
  